body,html{
    overflow:hidden;
    width:100%;
    height:100vh;
    background-image:url('https://images.alphacoders.com/102/1026345.jpg');
    background-repeat:no-repeat;
    background-size:cover;

}


@media (max-width:430px){
    .heading{
        font-size:1.0rem;
    }
    .inp{
        width:18rem;
        padding:0.3rem;
        outline:none;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
        border:1px solid black;
        border-radius: 2px;
    
    }
    .sel{
        width:19rem;
        padding:0.43rem;
        outline:none;
        font-size:0.8rem;
        color:black;
        border:1px solid black;
        border-radius:2px;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
    
    }
    .txtarea{
        outline:none;
        border:1px solid black;
        border-radius:2px;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
       width:18rem;
     }
}


@media (min-width:430px){
    .heading{
        font-size:1.7rem;

    }
    .inp{
        width:25rem;
        padding:0.3rem;
        outline:none;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
        border:1px solid black;
        border-radius: 2px;
    
    }
    .sel{
        width:26rem;
        padding:0.43rem;
        outline:none;
        font-size:0.8rem;
        color:black;
        border:1px solid black;
        border-radius:2px;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
    
    }
    .txtarea{
        outline:none;
        border:1px solid black;
        border-radius:2px;
        background-image:linear-gradient(to right, white, rgb(243, 202, 209));
     
     }
}



.form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:black;
    height:80vh;
}

.heading{
    font-family:'Poppins';
    font-style:italic;
    text-decoration:underline;
    text-align:center;
    color:aquamarine;
    margin-bottom:3rem;
}


.inp-lab-con{
    margin-bottom:0.9rem;
}

.inp::placeholder{
    font-family:'Lobster';
    color:black;
    font-style:italic;
    font-size:0.6rem;
}

.label{
    font-size:0.7rem;
    font-weight:bold;
    color:aqua;
    display:block;
    margin-bottom:0.3rem;
}



.addButt{
    background-color:rgb(38, 147, 190);
    font-size:0.7rem;
    padding:0.5rem;
    width:4rem;
    border-radius:0.3rem;
    color:white;
    font-weight:600;
    border:none;

}



.txtarea::placeholder{
    font-family:Lobster;
    color:black;
    font-size:0.8rem;
    font-style:italic;
}